openapi: 3.0.3

info:
  title: GovHub Management Backoffice - OpenAPI 3.0
  x-summary: Backoffice GovHub
  description: This Service runs the shared govhub backoffice.
  x-api-id: management-govhub
  termsOfService: TODO
  version: 1.0.1

  contact:
    name: TODO
    email: TODO@TODO.it

  license:
    name: Apache 2.0 ( TODO )
    url: http://www.apache.org/licenses/LICENSE-2.0.html 

servers:
  - url: https://govhub.backoffice.it/api/v3
    description: Sample Deployment URL (Not Actual)

security:
   - header-principal: []
   - basic-auth: []

tags:
  - name: user
    description: Operations on users.
  - name: organization
    description: Operations on organizations.
  - name: authorization
    description: Authorizations and roles.
  - name: system
    description: System Operations
  - name: service
    description: Operation on services. 

paths:
  /users:
    
    post:
      tags:
        - user
      summary: Add a new user.
      description: Add a new user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '409':
          $ref: "#/components/responses/409Conflict"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"
          
    get:
      tags:
         - user
      summary: Retrieve the user list.
      description: Retrieve the user list.
      operationId: listUsers
      parameters:
         - $ref: "#/components/parameters/limit"
         - $ref: "#/components/parameters/offset"
         - $ref: "#/components/parameters/q_query"
         - $ref: "#/components/parameters/enabled_query"
         - $ref: "#/components/parameters/user_ordering_query"
         - $ref: "#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/UserList"
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"       

          
  /users/{id}:
    parameters:
      - $ref: "#/components/parameters/user_id"    
    get:
      tags:
        - user
      summary: Retrieve a user.
      description: Retrieve the user with the provided id.
      operationId: readUser
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

    patch:
      summary: Update user data.
      description: Update user data.
      operationId: updateUser
      tags:
      - user
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: '#/components/schemas/User'                             
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"          
          
  /users/{id}/authorizations:
    parameters:
      - $ref: "#/components/parameters/user_id"    
      
    post:
      tags:
        - authorization
      summary: Assign a new authorization to the user.
      description: Assign a new authorization to the user.
      operationId: assignAuthorization
      requestBody:
         required: true
         content:
            application/json:
               schema:
                  $ref: "#/components/schemas/AuthorizationCreate"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Authorization"          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"
          
    get:
      tags:
         - authorization
      summary: Retrieve the user authorizations.
      description: Retrieve the user authorizations.
      operationId: listAuthorizations
      parameters:
         - $ref: "#/components/parameters/limit"
         - $ref: "#/components/parameters/offset"
         - $ref: "#/components/parameters/authorization_ordering_query"
         - $ref: "#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/AuthorizationList"
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"           
          
  /authorizations/{id}:
    parameters:
       - $ref: "#/components/parameters/authorization_id"    
    delete:
      tags:
        - authorization
      summary: Delete the authorization.
      description: Delete the authorization.
      operationId: removeAuthorization
      responses:
        '200':
          description: Successful operation.
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"
          
  /profile:    
    get:
      tags:
        - system
      summary: Get the detail of the authenticated user.
      description: Get the detail of the authenticated user.
      operationId: profile
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

  /organizations:
    post:
      tags:
        - organization
      summary: Create a new organization.
      description: Create a new organization.
      operationId: createOrganization
      requestBody:
        content:
          application/json:
           schema:
             $ref: '#/components/schemas/OrganizationCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

    get:
      tags:
         - organization
      summary: Retrieve the organization list.
      description: Retrieve the organization list.
      operationId: listOrganizations
      parameters:
         - $ref: "#/components/parameters/limit"
         - $ref: "#/components/parameters/offset"
         - $ref: "#/components/parameters/q_query"
         - $ref: "#/components/parameters/organization_ordering_query"
         - $ref: "#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/OrganizationList"
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"       
 
  /organizations/{id}:
    parameters:
      - $ref: "#/components/parameters/organization_id"    
    get:
      tags:
        - organization
      summary: Retrieve an Organization.
      description: Retrieve the Organization with the provided id.
      operationId: readOrganization
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"
          
    patch:
      tags:
      - organization      
      summary: Update organization data.
      description: Update organization data.
      operationId: updateOrganization
      requestBody:    
        required: true
        content:
          "application/json-patch+json":
            schema:
              $ref: '#/components/schemas/PatchOperations'
      responses:
        "200":
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: '#/components/schemas/Organization'                             
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"   

  /services:
    post:
      tags:
        - service
      summary: Add a new service.
      description: Add a new service.
      operationId: createService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"
          
    get:
      tags:
         - service
      summary: Retrieve the service list.
      description: Retrieve the service list.
      operationId: listServices
      parameters:
         - $ref: "#/components/parameters/limit"
         - $ref: "#/components/parameters/offset"
         - $ref: "#/components/parameters/q_query"
         - $ref: "#/components/parameters/service_ordering_query"
         - $ref: "#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/ServiceList"
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"       

          
  /services/{id}:
    parameters:
      - $ref: "#/components/parameters/service_id"    
    get:
      tags:
        - service
      summary: Retrieve a service.
      description: Retrieve the service with the provided id.
      operationId: readService
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

    patch:
      summary: Update service data.
      description: Update service data.
      operationId: updateService
      tags:
      - service
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: '#/components/schemas/Service'                             
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '404':
          $ref: "#/components/responses/404NotFound"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

  /status:
    get:
      tags:
        - system
      summary: Get the system status.
      description: Get the system status.
      operationId: status
      responses:
        '200':
          description: Successful operation.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'          
        '400':
          $ref: "#/components/responses/400BadRequest"
        '401':
          $ref: "#/components/responses/401Unauthorized"
        '403':
          $ref: "#/components/responses/403Forbidden"
        '429':
          $ref: "#/components/responses/429TooManyRequests"
        '503':
          $ref: "#/components/responses/503ServiceUnavailable"
        default:
          $ref: "#/components/responses/ResponseDefault"

  
components:

   # SECURITY    ---------------
   securitySchemes:
      header-principal:
         type: apiKey
         in: header
         name: X-GovHub-Username
      basic-auth:
         type: http
         scheme: basic

   # RESPONSES ---------------
   
   responses:
   
      '201Created':
         description: Resource created.
         headers:
           Location:
             $ref: "#/components/headers/Location"
           Cache-Control:
              $ref: "#/components/headers/Cache-Control"
           X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
           X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
           X-RateLimit-Reset:
             $ref: "#/components/headers/X-RateLimit-Reset"

      '400BadRequest':
         description: Bad Request.
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '401Unauthorized':
         description: Required credentials missing.
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '403Forbidden':
         description: No Authorizations for the requested operation.
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '404NotFound':
         description: Not Found.
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '409Conflict':
         description: Conflict (The entity already exists).
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '429TooManyRequests':
         description: Too many requests.
         headers:
           Retry-After:
             $ref: "#/components/headers/Retry-After"
           X-RateLimit-Limit:
             $ref: "#/components/headers/X-RateLimit-Limit"
           X-RateLimit-Remaining:
             $ref: "#/components/headers/X-RateLimit-Remaining"
           X-RateLimit-Reset:
             $ref: "#/components/headers/X-RateLimit-Reset"
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      '503ServiceUnavailable':
         description: Service Unavailable.
         headers:
           Retry-After:
             $ref: "#/components/headers/Retry-After"
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
               
      'ResponseDefault':
         description: Unexpected error.
         content:
           application/problem+json:
             schema:
               $ref: "#/components/schemas/Problem"
            
    
   # HEADERS ---------------- #
   
                   
   headers:
   
      Location:
         description: >
             Header Location inserted in a response for a succesful POST request (201)
             The value is a link that points to the created object.
         schema:
           type: string
           format: url
           maxLength: 255
           
      Cache-Control:
        description: Management of objects cache, no-cache is the only supported option.
        schema:          
          type: string
          pattern: ^[\w, -=]+$
          maxLength: 255
          
      Retry-After:
         description: "Retry after a window of n seconds. See https://tools.ietf.org/html/rfc7231#section-7.1.3"
         schema:
           type: integer
           format: int32
           minimum: 0
           maximum: 2147483647
           
      X-RateLimit-Limit:
         description: Maximum number of allowed requests in the current time window.
         schema:
           type: integer
           format: int32
           minimum: 0
           maximum: 2147483647
           
      X-RateLimit-Remaining:
         description: Number of remaining requests in the current time window.
         schema:
           type: integer
           format: int32
           minimum: 0
           maximum: 2147483647
           
      X-RateLimit-Reset:
         description: Seconds left until the next time window.
         schema:
           type: integer
           format: int32
           minimum: 0
           maximum: 2147483647
           
           
   # PARAMETERS -----------#
   
   parameters:
   
      user_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "#/components/schemas/UserId"
  
      organization_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "#/components/schemas/OrganizationId"
            
      authorization_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "#/components/schemas/AuthorizationId"
      
      service_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "#/components/schemas/ServiceId"     
      
      limit:
         name: limit
         in: query
         description: Max number of provided items.
         required: false
         schema:
           type: integer
           format: int32
           minimum: 1
           maximum: 100
           
      offset:
         name: offset
         in: query
         description: offset (zero-based) of indexed results.
         required: false
         schema:
           type: integer
           format: int64
           default: 0
           minimum: 0
           maximum: 9223372036854775807
        
      q_query:
         name: q
         in: query
         description: generic query.
         required: false
         schema:
            $ref: "#/components/schemas/GenericSearchString"
                      
      enabled_query:
         name: enabled
         in: query
         description: filter by status.
         required: false
         schema:
            type: boolean
            
      sort_direction_query:
         name: sort_direction
         in: query
         description: Direction Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/Direction"                      
           
      user_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/UserOrdering"           

      organization_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/OrganizationOrdering"
            
      authorization_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/AuthorizationOrdering"
            
            
      service_ordering_query:            
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/ServiceOrdering"            
            
   # SCHEMAS ---------------- #
   
   
   schemas:
   
      UserId:
         type: integer
         format: int64
         minimum: 0
         maximum: 9223372036854775807
         example: 1
         description: User identifier.
         
      OrganizationId:
         type: integer
         format: int64
         minimum: 0
         maximum: 9223372036854775807
         example: 1
         description: Organization identifier. 
      
      RoleId:
         type: integer
         format: int64
         minimum: 0
         maximum: 9223372036854775807
         example: 1
         description: Role identifier.       
      
      AuthorizationId:
         type: integer
         format: int64
         minimum: 0
         maximum: 9223372036854775807
         example: 1
         description: Authorization identifier.
         
      ServiceId:
         type: integer
         format: int64
         minimum: 0
         maximum: 9223372036854775807
         example: 1
         description: Service identifier.
      
      UserCreate:
         type: object
         additionalProperties: false
         properties:
            principal:
               type: string
               maxLength: 255
               pattern: ^[\w_\-\.]+$
               example: user-1
            full_name:
               type: string
               maxLength: 255               
               pattern: ^.*$
               example: Antonio Giscardi
            email:
               type: string
               format: email
               maxLength: 255
            enabled:
               type: boolean
         required:
            - principal
            - full_name
            - enabled            
         
      User:         
         allOf:
            - $ref: "#/components/schemas/UserCreate"
            - type: object         
              additionalProperties: false
              required:
                - id
              properties:
                  id:
                     $ref: "#/components/schemas/UserId"
                     
      Profile:
         allOf:
            - $ref: "#/components/schemas/User"
            - type: object
              additionalProperties: false
              properties:
                 authorizations:
                    type: array
                    items:
                       $ref: "#/components/schemas/Authorization"
                    minItems: 0
                    maxItems: 2147483647
       
      Role:
         type: object
         additionalProperties: false
         required:
            - id
            - role_name
         properties:
            id: 
               $ref: "#/components/schemas/RoleId"
            role_name:
               type: string
               pattern: .+
               maxLength: 256
               example: govhub-sender
            assignable_roles:
               type: array
               minItems: 0
               maxItems: 256
               items:
                  type: string
                  pattern: .+
                  maxLength: 256
                  example: govhub-sender                  
                   
                     
      AuthorizationCreate:
         type: object
         additionalProperties: false
         required:
            - role
            - organizations
            - services
         properties:
            role:
               $ref: "#/components/schemas/RoleId"               
            organizations:
               type: array
               items:
                  $ref: "#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []
            services:
               type: array
               items:
                  $ref: "#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []            
            expiration_date:
               type: string
               format: date-time
           
      Problem:
         type: object
         additionalProperties: false
         properties:
           detail:
             type: string
             description: A human readable description of the occurred problem.
             example: Connection to database timed out
             maxLength: 255
             pattern: ^[ -~]+$
           instance:
             type: string
             description: Link to a specific occurence of the problem.
             format: uri
             maxLength: 255
           status:
             maximum: 600
             exclusiveMaximum: true
             minimum: 100
             type: integer
             description: HTTP Status Code.
             format: int32
             example: 503
           title:
             type: string
             description: Short description of the occurred problem.
             maxLength: 255
             pattern: ^[ -~]+$
             example: Service Unavailable        
           type:
             type: string
             description: Absolute URI for the problem description.
             maxLength: 255
             format: uri
             example: "https://tools.ietf.org/html/rfc7231#section-6.6.4"
             default: about:blank
             
      GenericSearchString:
         type: string
         maxLength: 255
         example: "user_1"
         pattern: ^[^\u0000]*$
         
         
      Direction:
         type: string
         enum:
            - asc
            - desc
         default: desc  
                  
      UserOrdering:
         type: string
         enum:
            - unsorted
            - full_name
            - id
         default: id

      OrganizationOrdering:
         type: string
         enum:
            - unsorted
            - legal_name
            - id
         default: id          
                        
      AuthorizationOrdering:
         type: string
         enum:
            - unsorted
            - id
            - role_name            
         default: id
               
      ServiceOrdering:
         type: string
         enum:
            - unsorted
            - id
            - service_name      
         default: id
               
      PatchOperations:
         type: "array"
         minItems: 1
         maxItems: 20
         items:
            $ref: "#/components/schemas/PatchOp"
            
      PatchOp:
         type: object
         required:
           - op
           - path
         additionalProperties: false
         properties:
           op:
             type: string
             enum:
               - add
               - remove
               - replace
             description: Specified operation.
             example: add
           path:
             type: string
             description: jsonPath of the mutating object.
             example: "/organizations"
             pattern: ^.*$
             maxLength: 4096
           value:
             type: object
             description: updating value.
             
      List:
         required:
         - page
         type: object
         additionalProperties: false
         properties:
          page:
             $ref: "#/components/schemas/PageInfo" 
          # I links li aggiunge spring hateoas
          #_links:
          #   $ref: "#/components/schemas/PaginationLinks"
                    
      PageInfo:
         type: object
         additionalProperties: false
         required:
            - offset
            - limit
         properties:
           offset:
             type: integer
             description: Offset value (zero-based) for the results.
             format: int64
             minimum: 0
             maximum: 9223372036854775807
             example: 20
           limit:
             type: integer
             description: numero massimo di elementi restituiti.
             format: int32
             minimum: 0
             maximum: 2147483647
             example: 25
           total:
               minimum: 0
               maximum: 9223372036854775807
               type: integer
               description: Number of found elements.
               format: int64
               example: 32
               
      UserList:
         allOf:
            - $ref: "#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/User"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false

      OrganizationList:
         allOf:
            - $ref: "#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/OrganizationItem"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false
              
      AuthorizationList:
         allOf:
            - $ref: "#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/Authorization"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false              

      Authorization:
         type: object
         additionalProperties: false
         required:
            - id
            - role
         properties:
            id:
               $ref: "#/components/schemas/AuthorizationId"
            role:
               $ref: "#/components/schemas/Role"
            organizations:
               type: array
               items:
                  $ref: "#/components/schemas/OrganizationAuthItem"
               minItems: 0
               maxItems: 2147483647
            services:
               type: array
               items:
                  $ref: "#/components/schemas/ServiceAuthItem"
               minItems: 0
               maxItems: 2147483647
            expiration_date:
               type: string
               format: date-time
            
      OrganizationData:
         type: object
         additionalProperties: false
         required:
           - tax_code
           - legal_name        
         properties:
           tax_code:
              $ref: "#/components/schemas/TaxCode"
           legal_name:
              $ref: "#/components/schemas/LegalName"
           office_at:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Building Location.
             example: Local Cohort
           office_address:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Office Building Address.
             example: 44 Rowling Street
           office_address_details:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Second Office Building Address Row.
             example: Intern N. 6
           office_zip:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Postal Code.
             example: "984356" 
           office_municipality:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Municipality.
             example: London
           office_municipality_details:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Location or Country Fraction. 
             example: Harlem
           office_province:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Province.
             example: London
           office_foreign_state:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Foreign State Name.
             example: UK
           office_phone_number:
             $ref: "#/components/schemas/PhoneNumber"
           office_email_address:
              $ref: "#/components/schemas/Email"
           office_pec_address:
              $ref: "#/components/schemas/Email"


      OrganizationItem:
         allOf:
            - $ref: "#/components/schemas/OrganizationData"
            - type: object
              additionalProperties: false
              required: 
                 - id
              properties:
                 id:
                   $ref: "#/components/schemas/OrganizationId"
              
              
      OrganizationCreate:
        allOf:
          - $ref: "#/components/schemas/OrganizationData"
          - type: object
            additionalProperties: false
            properties:
              logo_miniature:
               $ref: "#/components/schemas/SmallLogo"
              logo:
                $ref: "#/components/schemas/Logo"

      Organization:
        allOf:
          - $ref: "#/components/schemas/OrganizationCreate" 
          - type: object
            additionalProperties: false
            required:
              - id
            properties:
              id:
                $ref: "#/components/schemas/OrganizationId"
      
      OrganizationAuthItem:
         type: object
         additionalProperties: false
         required:
            - id
            - legal_name
            - tax_code
         properties:
            id:
               $ref: "#/components/schemas/OrganizationId"
            legal_name:
               $ref: "#/components/schemas/LegalName"
            tax_code:
               $ref: "#/components/schemas/TaxCode"
      
      ServiceCreate:
         type: object
         additionalProperties: false
         required:
            - service_name
         properties:
            service_name:
               $ref: "#/components/schemas/ServiceName"
            description:
              type: string
              pattern: .*
              maxLength: 4096
              example: Service for customer management.
              
      Service:
         allOf:
            - $ref: "#/components/schemas/ServiceCreate"
            -  type: object
               additionalProperties: false
               properties:
                  id:
                     $ref: "#/components/schemas/ServiceId"
      
      ServiceList:
         allOf:
            - $ref: "#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/Service"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false   
      
      ServiceAuthItem:
         type: object
         additionalProperties: false
         properties:
            id: 
               $ref: "#/components/schemas/ServiceId"         
            service_name:
               $ref: "#/components/schemas/ServiceName"
                  
      ServiceName:
         type: string
         pattern: .*
         maxLength: 256
         example: SUAP-Integrazione
      
      PhoneNumber:
        maxLength: 255
        type: string
        example: "0124581247"
        pattern: ^(\+|00)?[0-9 \-\(\)\.]{7,32}$

      Email:
       maxLength: 255
       type: string
       format: email
       example: "m.rossi@acme.com"

      Logo:
        type: string
        format: base64
        maxLength: 200000

      SmallLogo:
        type: string
        format: base64
        maxLength: 50000
            
      TaxCode:
        type: string
        minLength: 11
        maxLength: 11
        pattern: ^[0-9]+$
        example: "01234567890"
        
      LegalName:
         type: string
         maxLength: 80
         pattern: ^([\x20-\xFF]{1,80})$
         example: Giletti S.R.L.
         