openapi: 3.0.3

info:
  title: GovHub Management Backoffice - OpenAPI 3.0
  x-summary: Backoffice GovHub
  description: This Service runs the shared govhub backoffice.
  x-api-id: management-govhub
  termsOfService: TODO
  version: 1.0.1

  contact:
    name: TODO
    email: TODO@TODO.it

  license:
    name: Apache 2.0 ( TODO )
    url: http://www.apache.org/licenses/LICENSE-2.0.html 

servers:
  - url: https://govhub.backoffice.it/api/v3
    description: Sample Deployment URL (Not Actual)

security:
   - header-principal: []

tags:
  - name: user
    description: Operations on users.
  - name: organization
    description: Operations on organizations.
  - name: authorization
    description: Authorizations and roles.
  - name: system
    description: System Operations
  - name: service
    description: Operation on services. 

paths:
  /users:
    
    post:
      tags:
        - user
      summary: Add a new user.
      description: Add a new user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/UserCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/User'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '409':
          $ref: "govhub-api-commons.yaml#/components/responses/409Conflict"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    get:
      tags:
         - user
      summary: Retrieve the user list.
      description: Retrieve the user list.
      operationId: listUsers
      parameters:
         - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
         - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
         - $ref: "govhub-api-commons.yaml#/components/parameters/q_query"
         - $ref: "#/components/parameters/enabled_query"
         - $ref: "#/components/parameters/user_ordering_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/UserList"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"       

          
  /users/{id}:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/user_id"    
    get:
      tags:
        - user
      summary: Retrieve a user.
      description: Retrieve the user with the provided id.
      operationId: readUser
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/User'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

    patch:
      summary: Update user data.
      description: Update user data.
      operationId: updateUser
      tags:
      - user
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: 'govhub-api-commons.yaml#/components/schemas/User'                             
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"          
          
  /users/{id}/authorizations:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/user_id"    
      
    post:
      tags:
        - authorization
      summary: Assign a new authorization to the user.
      description: Assign a new authorization to the user.
      operationId: assignAuthorization
      requestBody:
         required: true
         content:
            application/json:
               schema:
                  $ref: "#/components/schemas/AuthorizationCreate"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "govhub-api-commons.yaml#/components/schemas/Authorization"          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    get:
      tags:
         - authorization
      summary: Retrieve the user authorizations.
      description: Retrieve the user authorizations.
      operationId: listAuthorizations
      parameters:
         - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
         - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
         - $ref: "#/components/parameters/authorization_ordering_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/AuthorizationList"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"           
          
  /authorizations/{id}:
    parameters:
       - $ref: "#/components/parameters/authorization_id"    
    delete:
      tags:
        - authorization
      summary: Delete the authorization.
      description: Delete the authorization.
      operationId: removeAuthorization
      responses:
        '200':
          description: Successful operation.
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          

  /organizations:
    post:
      tags:
        - organization
      summary: Create a new organization.
      description: Create a new organization.
      operationId: createOrganization
      requestBody:
        content:
          application/json:
           schema:
             $ref: '#/components/schemas/OrganizationCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

    get:
      tags:
         - organization
      summary: Retrieve the organization list.
      description: Retrieve the organization list.
      operationId: listOrganizations
      parameters:
         - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
         - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
         - $ref: "govhub-api-commons.yaml#/components/parameters/q_query"
         - $ref: "#/components/parameters/organization_ordering_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/OrganizationList"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"       
 
  /organizations/{id}:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/organization_id"    
    get:
      tags:
        - organization
      summary: Retrieve an Organization.
      description: Retrieve the Organization with the provided id.
      operationId: readOrganization
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    patch:
      tags:
      - organization      
      summary: Update organization data.
      description: Update organization data.
      operationId: updateOrganization
      requestBody:    
        required: true
        content:
          "application/json-patch+json":
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        "200":
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: '#/components/schemas/Organization'                             
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"   

  /services:
    post:
      tags:
        - service
      summary: Add a new service.
      description: Add a new service.
      operationId: createService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    get:
      tags:
         - service
      summary: Retrieve the service list.
      description: Retrieve the service list.
      operationId: listServices
      parameters:
         - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
         - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
         - $ref: "govhub-api-commons.yaml#/components/parameters/q_query"
         - $ref: "#/components/parameters/service_ordering_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "#/components/schemas/ServiceList"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"       

          
  /services/{id}:
    parameters:
      - $ref: "#/components/parameters/service_id"    
    get:
      tags:
        - service
      summary: Retrieve a service.
      description: Retrieve the service with the provided id.
      operationId: readService
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

    patch:
      summary: Update service data.
      description: Update service data.
      operationId: updateService
      tags:
      - service
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: '#/components/schemas/Service'                             
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

  /status:
    get:
      tags:
        - system
      summary: Get the system status.
      description: Get the system status.
      operationId: status
      responses:
        '200':
          description: Successful operation.
          content:
            application/problem+json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/Problem'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

  
components:

   # SECURITY    ---------------
   securitySchemes:
      header-principal:
         type: apiKey
         in: header
         name: GovHub-Consumer-Principal

   # PARAMETERS -----------#
   
   parameters:
   
      authorization_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "govhub-api-commons.yaml#/components/schemas/AuthorizationId"
      
      service_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "#/components/schemas/ServiceId"     
      
      enabled_query:
         name: enabled
         in: query
         description: filter by status.
         required: false
         schema:
            type: boolean
            
      user_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/UserOrdering"           

      organization_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/OrganizationOrdering"
            
      authorization_ordering_query:
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/AuthorizationOrdering"
            
      service_ordering_query:            
         name: sort
         in: query
         description: Sorting field.
         required: true
         schema:
            $ref: "#/components/schemas/ServiceOrdering"            
            
   # SCHEMAS ---------------- #
   
   
   schemas:
   
      AuthorizationCreate:
         type: object
         additionalProperties: false
         required:
            - role
            - organizations
            - services
         properties:
            role:
               $ref: "govhub-api-commons.yaml#/components/schemas/RoleId"               
            organizations:
               type: array
               items:
                  $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []
            services:
               type: array
               items:
                  $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []            
            expiration_date:
               type: string
               format: date-time
           
      UserOrdering:
         type: string
         enum:
            - unsorted
            - full_name
            - id
         default: id

      OrganizationOrdering:
         type: string
         enum:
            - unsorted
            - legal_name
            - id
         default: id          
                        
      AuthorizationOrdering:
         type: string
         enum:
            - unsorted
            - id
            - role_name            
         default: id
               
      ServiceOrdering:
         type: string
         enum:
            - unsorted
            - id
            - service_name      
         default: id
               
      UserList:
         allOf:
            - $ref: "govhub-api-commons.yaml#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "govhub-api-commons.yaml#/components/schemas/User"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false

      OrganizationList:
         allOf:
            - $ref: "govhub-api-commons.yaml#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/OrganizationItem"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false
              
      AuthorizationList:
         allOf:
            - $ref: "govhub-api-commons.yaml#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "govhub-api-commons.yaml#/components/schemas/Authorization"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false              

      OrganizationData:
         type: object
         additionalProperties: false
         required:
           - tax_code
           - legal_name        
         properties:
           tax_code:
              $ref: "govhub-api-commons.yaml#/components/schemas/TaxCode"
           legal_name:
              $ref: "govhub-api-commons.yaml#/components/schemas/LegalName"
           office_at:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Building Location.
             example: Local Cohort
           office_address:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Office Building Address.
             example: 44 Rowling Street
           office_address_details:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Second Office Building Address Row.
             example: Intern N. 6
           office_zip:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Postal Code.
             example: "984356" 
           office_municipality:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Municipality.
             example: London
           office_municipality_details:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Location or Country Fraction. 
             example: Harlem
           office_province:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Province.
             example: London
           office_foreign_state:
             type: string
             maxLength: 120
             pattern: ^.*$
             description: Foreign State Name.
             example: UK
           office_phone_number:
             $ref: "govhub-api-commons.yaml#/components/schemas/PhoneNumber"
           office_email_address:
              $ref: "govhub-api-commons.yaml#/components/schemas/Email"
           office_pec_address:
              $ref: "govhub-api-commons.yaml#/components/schemas/Email"


      OrganizationItem:
         allOf:
            - $ref: "#/components/schemas/OrganizationData"
            - type: object
              additionalProperties: false
              required: 
                 - id
              properties:
                 id:
                   $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
              
      OrganizationCreate:
        allOf:
          - $ref: "#/components/schemas/OrganizationData"
          - type: object
            additionalProperties: false
            properties:
              logo_miniature:
               $ref: "govhub-api-commons.yaml#/components/schemas/SmallLogo"
              logo:
                $ref: "govhub-api-commons.yaml#/components/schemas/Logo"

      Organization:
        allOf:
          - $ref: "#/components/schemas/OrganizationCreate" 
          - type: object
            additionalProperties: false
            required:
              - id
            properties:
              id:
                $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
      
      
      ServiceCreate:
         type: object
         additionalProperties: false
         required:
            - service_name
         properties:
            service_name:
               $ref: "govhub-api-commons.yaml#/components/schemas/ServiceName"
            description:
              type: string
              pattern: .*
              maxLength: 4096
              example: Service for customer management.
              
      Service:
         allOf:
            - $ref: "#/components/schemas/ServiceCreate"
            -  type: object
               additionalProperties: false
               properties:
                  id:
                     $ref: "govhub-api-commons.yaml#/components/schemas/ServiceId"
      
      ServiceList:
         allOf:
            - $ref: "govhub-api-commons.yaml#/components/schemas/List"
            - type: object
              properties:              
                 items:
                    type: array
                    items:
                       $ref: "#/components/schemas/Service"
                    minItems: 0
                    maxItems: 2147483647
              required:
                 - items 
              additionalProperties: false   
      
         