openapi: 3.0.3

info:
  title: GovHub Management Backoffice - OpenAPI 3.0
  x-summary: Backoffice GovHub
  description: This Service runs the shared govhub backoffice.
  x-api-id: management-govhub
  termsOfService: TODO
  version: 1.0.1

  contact:
    name: TODO
    email: TODO@TODO.it

  license:
    name: Apache 2.0 ( TODO )
    url: http://www.apache.org/licenses/LICENSE-2.0.html 

servers:
  - url: https://govhub.backoffice.it/api/v3
    description: Sample Deployment URL (Not Actual)

security:
   - header-principal: []

tags:
  - name: user
    description: Operations on users.
  - name: organization
    description: Operations on organizations.
  - name: authorization
    description: Authorizations and roles.
  - name: system
    description: System Operations
  - name: service
    description: Operation on services. 

paths:

  /users:
    
    post:
      tags:
        - user
      summary: Add a new user.
      description: Add a new user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/UserCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/User'          
          links:
             self:
                $ref: "#/components/links/readUser"
             update:
                $ref: "#/components/links/updateUser"
             assignAuthorization:
                $ref: "#/components/links/assignAuthorization"                
             list:
                $ref: "#/components/links/listAuthorizations"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '409':
          $ref: "govhub-api-commons.yaml#/components/responses/409Conflict"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          

  /users/{id}:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/user_id"    

    patch:
      summary: Update user data.
      description: Update user data.
      operationId: updateUser
      tags:
      - user
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: 'govhub-api-commons.yaml#/components/schemas/User'
          links:
             self:
                $ref: "#/components/links/readUser"
             update:
                $ref: "#/components/links/updateUser"
             assignAuthorization:
                $ref: "#/components/links/assignAuthorization"                
             listAuthorizations:
                $ref: "#/components/links/listAuthorizations"                                                
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '409':
          $ref: "govhub-api-commons.yaml#/components/responses/409Conflict"          
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"          
          
  /users/{id}/authorizations:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/user_id"    
      
    post:
      tags:
        - authorization
      summary: Assign a new authorization to the user.
      description: Assign a new authorization to the user.
      operationId: assignAuthorization
      requestBody:
         required: true
         content:
            application/json:
               schema:
                  $ref: "#/components/schemas/AuthorizationCreate"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: "govhub-api-commons.yaml#/components/schemas/Authorization"
          links:
           delete:
             $ref: "#/components/links/deleteAuthorization"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    get:
         tags:
            - authorization
         summary: Retrieve the user authorizations.
         description: Retrieve the user authorizations.
         operationId: listAuthorizations
         parameters:
            - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
            - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
            - $ref: "govhub-api-commons.yaml#/components/parameters/authorization_ordering_query"
            - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
         responses:
           '200':
             description: Successful operation.
             content:
               application/json:
                 schema:
                    $ref: "govhub-api-commons.yaml#/components/schemas/AuthorizationList"
           '400':
             $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
           '401':
             $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
           '403':
             $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
           '404':
             $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
           '429':
             $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
           '503':
             $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
           default:
             $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"                 
          
          
  /authorizations/{id}:
    parameters:
       - $ref: "#/components/parameters/authorization_id"    
    delete:
      tags:
        - authorization
      summary: Removes  the authorization.
      description: Removes the authorization.
      operationId: removeAuthorization
      responses:
        '200':
          description: Successful operation.
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          

  /organizations:
    post:
      tags:
        - organization
      summary: Create a new organization.
      description: Create a new organization.
      operationId: createOrganization
      requestBody:
        content:
          application/json:
           schema:
             $ref: 'govhub-api-commons.yaml#/components/schemas/OrganizationCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/Organization'        
          links:
             self:
                $ref: "#/components/links/readOrganization"
             update:
                $ref: "#/components/links/updateOrganization"
             logo:
                $ref: "#/components/links/readOrganizationLogo"
             logo-miniature:
                $ref: "#/components/links/readOrganizationLogoMiniature"
                  
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          
    get:
      tags:
         - organization
      summary: Retrieve the organization list.
      description: Retrieve the organization list.
      operationId: listOrganizations
      parameters:
         - $ref: "govhub-api-commons.yaml#/components/parameters/limit"
         - $ref: "govhub-api-commons.yaml#/components/parameters/offset"
         - $ref: "govhub-api-commons.yaml#/components/parameters/q_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/organization_ordering_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/sort_direction_query"
         - $ref: "govhub-api-commons.yaml#/components/parameters/with_roles"
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                 $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationList"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"            

 
  /organizations/{id}:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/organization_id"    
          
    patch:
      tags:
      - organization      
      summary: Update organization data.
      description: Update organization data.
      operationId: updateOrganization
      requestBody:    
        required: true
        content:
          "application/json-patch+json":
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        "200":
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: 'govhub-api-commons.yaml#/components/schemas/Organization'                            
          links:
             self:
                $ref: "#/components/links/readOrganization"
             update:
                $ref: "#/components/links/updateOrganization"
             logo:
                $ref: "#/components/links/readOrganizationLogo"
             miniature:
                $ref: "#/components/links/readOrganizationLogoMiniature"                
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"   

  /services:
    post:
      tags:
        - service
      summary: Add a new service.
      description: Add a new service.
      operationId: createService
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/ServiceCreate'
        required: true
      responses:
        '201':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/Service'
          links:
             self:
               $ref: "#/components/links/readService" 
             update:
               $ref: "#/components/links/updateService"
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"
          

  /services/{id}:
    parameters:
      - $ref: "govhub-api-commons.yaml#/components/parameters/service_id"    

    patch:
      summary: Update service data.
      description: Update service data.
      operationId: updateService
      tags:
      - service
      requestBody:    
        required: true
        content:
          application/json-patch+json:
            schema:
              $ref: 'govhub-api-commons.yaml#/components/schemas/PatchOperations'
      responses:
        '200':
          description: Succsessful operation.
          content:
             application/json:
                schema:
                   $ref: 'govhub-api-commons.yaml#/components/schemas/Service'
          links:
             self:
               $ref: "#/components/links/readService" 
             update:
               $ref: "#/components/links/updateService"                                                
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '404':
          $ref: "govhub-api-commons.yaml#/components/responses/404NotFound"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

  /status:
    get:
      tags:
        - system
      summary: Get the system status.
      description: Get the system status.
      operationId: status
      responses:
        '200':
          description: Successful operation.
          content:
            application/problem+json:
              schema:
                $ref: 'govhub-api-commons.yaml#/components/schemas/Problem'          
        '400':
          $ref: "govhub-api-commons.yaml#/components/responses/400BadRequest"
        '401':
          $ref: "govhub-api-commons.yaml#/components/responses/401Unauthorized"
        '403':
          $ref: "govhub-api-commons.yaml#/components/responses/403Forbidden"
        '429':
          $ref: "govhub-api-commons.yaml#/components/responses/429TooManyRequests"
        '503':
          $ref: "govhub-api-commons.yaml#/components/responses/503ServiceUnavailable"
        default:
          $ref: "govhub-api-commons.yaml#/components/responses/ResponseDefault"

  
components:

   links:
      readUser:
         description: Retrieve the user.
         operationRef: "govregistry-api-readops.yaml#/paths/~1users~1{id}/get"
         parameters:
           id: $response.body#/id
           
      updateUser:
          description: Update the user.
          operationId: updateUser
          parameters:
             id: $response.body#/id
             
      assignAuthorization:
          description: Gives some authorizations to the user.
          operationId: assignAuthorization
          parameters:
             id: $response.body#/id
             
      deleteAuthorization:
          description: remove an authorization.
          operationId: assignAuthorization
          parameters:
             id: $response.body#/id
                          
      listAuthorizations:
          description: List the user authorizations.
          operationId: listAuthorizations
          parameters:
             id: $response.body#/id
             
      readOrganization:
         description: Retrieve the organization.
         operationRef: "govregistry-api-readops.yaml#/paths/~organizations~1{id}/get"
         parameters:
             id: $response.body#/id
             
      readService:
         description: Retrieve the service.
         operationRef: "govregistry-api-readops.yaml#/paths/~services~1{id}/get"
         parameters:
             id: $response.body#/id       
             
      readOrganizationLogo:
         description: Retrieve the organization logo.
         operationRef: "govregistry-api-readops.yaml#/paths/~organizations~1{id}~1logo/get"
         parameters:
             id: $response.body#/id
             
      readOrganizationLogoMiniature:
         description: Retrieve the organization logo miniature.
         operationRef: "govregistry-api-readops.yaml#/paths/~organizations~1{id}~1logo-miniature/get"
         parameters:
             id: $response.body#/id                          
             
      updateOrganization:
         description: Update the organization.
         operationId: updateOrganization
         parameters:
             id: $response.body#/id       
             
      updateService:
         description: Update the service.
         operationId: updateService
         parameters:
             id: $response.body#/id                    

   # SECURITY    ---------------
   securitySchemes:
      header-principal:
         type: apiKey
         in: header
         name: GovHub-Consumer-Principal

   # PARAMETERS -----------#
   
   parameters:
   
      authorization_id:
         name: id
         in: path
         required: true
         schema:
            $ref: "govhub-api-commons.yaml#/components/schemas/AuthorizationId"
      
            
   # SCHEMAS ---------------- #
   
   
   schemas:
   
      AuthorizationCreate:
         type: object
         additionalProperties: false
         required:
            - role
            - organizations
            - services
         properties:
            role:
               $ref: "govhub-api-commons.yaml#/components/schemas/RoleId"               
            organizations:
               type: array
               items:
                  $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []
            services:
               type: array
               items:
                  $ref: "govhub-api-commons.yaml#/components/schemas/OrganizationId"
               minItems: 0
               maxItems: 2147483647
               default: []            
            expiration_date:
               type: string
               format: date-time
           
      
         